* {
     margin: 0;
     padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}

body    {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a   {
    color: #659c00;
}
a:hover   {
    color: #fda439;
}

h1	{
    color: #292822;
    font: italic 30px Times New Roman;
    padding: 10px 0;
}

h3	{
    color: #8e9176;
    font: italic 25px Times New Roman;
    padding: 10px 0;
}

h4	{
    color: #8e9176;
    font: italic 20px Times New Roman;
    padding: 10px 0;
}

p	{
    color: #988a72;
    font: italic 16px/18px Trebuchet MS;
    padding: 5px 0 10px;
}


li	{
    font: italic 17px/25px Times New Roman;
    list-style: none outside none;
}

hr  {
    clear: both;
}


.col-md-3 li a,
.news-navigation li a	{
    color: #8e9176;
    text-decoration: none;
    background: url('../images/marker.png') no-repeat 0 5px;

    padding-left: 10px;
}

li a:hover	{
    text-decoration: underline;
    background-position: 0 -19px;
}


.line   {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(bottom, rgb(112,168,21) 19%, rgb(168,198,47) 60%);
    background-image: -o-linear-gradient(bottom, rgb(112,168,21) 19%, rgb(168,198,47) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(112,168,21) 19%, rgb(168,198,47) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(112,168,21) 19%, rgb(168,198,47) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(112,168,21) 19%, rgb(168,198,47) 60%);

    background: #94ba27 url('../images/line.jpg') repeat-x left bottom;
}

.header-container,
.container  {
    height: auto;
    margin: 0 auto;
}


#wrapper	{
    width: 100%;
    min-width: 100%;
    height: auto !important;
    min-height: 100%;
}


/* header
---------------------------*/

#header,
.container {
    height: 100%;
    margin: 0 auto;

}

#header.inside-header {
    height: 130px;
}

#header{
    background: url("../images/header-bg-gradient.jpg") repeat-x scroll left bottom #94BA27;
    width: 100%;
    padding: 35px 0 35px 0;
}

#header .navbar-inverse   {
    background-color: #171717;
    border-color: #171717;
}

.navbar-wrapper .menu .logo a   {
    width: 175px;
    height: 101px;
    background: url('../images/logo-mini.png') no-repeat top center;
    display: block;
    text-decoration: none;
}

.navbar-wrapper .menu li   {
    width: auto;
    display: inline-block;
    background: none;
    padding: 5px 18px 5px 18px;
}

.navbar-wrapper .menu li a   {
    font: 16px Trebuchet MS;
    color: #ffffff;
    text-decoration: none;
    background: none;
}
.navbar-wrapper .menu li .dropdown-menu li a  {
    color: #333333;
}


.navbar-wrapper .menu li a:hover   {
    text-decoration: underline;
}

.logo.navbar-brand {
    float: left;
    margin: 0;
    padding: 10px 0 0 20px;
    display: inline-block;
}

.palm-left  {
    background: url('../images/palm.png') no-repeat 0 -55px;
    height: 135px;
    width: 215px;
    float: left;
}

.palm-right {
    background: url('../images/palm.png') no-repeat 0 -194px;
    height: 203px;
    width: 215px;
    float: right;
    position: relative;
    z-index: 1;
    left: 12px;
    top: -135px;
}

.inform-logo h1,
.inform-logo h2 {
    font: italic 32px Times New Roman;
    text-align: center;
    color: #f2febe;
    margin-bottom: 0;
    padding: 0 0 5px 0;
}

.inform-logo h2 {
    font-size: 36px;
    margin-top: 0;
}

.inform-logo  .logo-text    {
    padding: 125px 20px 40px 0;
}

@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0px 5px 0px 10px;
    }
}

.navbar {
    margin-bottom: 0;
}

.navbar-wrapper {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9999;
}


	
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background: none;
	border: none;
}

.navbar-inverse .navbar-toggle {
	border: none;
}


/* search
--------------------------*/

.search {
    text-align: right;;
}

#ajaxSearch_form input.cleardefault   {
    width: 186px;
    font: italic 14px Times New Roman;
    color: #7d7d7d;
    background: #f0f1ed;
    border: 1px solid #f0f1ed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    padding: 3px;
}

#ajaxSearch_submit   {
    width: 30px;
    height: 25px;
    border: none;
    background: url('../images/search-button.gif') no-repeat 10px 9px;
    cursor: pointer;
    position: relative;
    right: 30px;
	top: 0;
}

#ajaxSearch_submit:hover   {
    background: url('../images/search-button.gif') no-repeat 10px -40px;
}


/* gallery
-------------------------*/

#header #gallery .newslider-vertical .sliderkit-nav-clip li{
    height:70px;
    width:190px;
    margin-bottom:5px;
    padding-right:10px;


}

#gallery	{
    background: none repeat scroll 0 0 #F3F6E7;
    border: 10px solid #F3F6E7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 300px;
    z-index: 5;
    position: relative;
}


#gallery h4	{
    color: #95af5e;
    font-size: 18px;
}
#gallery p	{
    color: #878b79;
    font-size: 13px;
    font-style: italic;
}

#header #gallery ul	{
    width: 100%;
    padding-top: 0;
	height: 100%;
}

.gallery	{
	padding-bottom: 15px;
}

/* content
----------------------- */

#content    {
    height: auto;
    min-height: 500px;
    background: #f5f5f5;
    padding-bottom: 175px;
}

#content .container-text img	{
	width: 300px;
	margin: 10px;
}

.news-navigation ul    {
    list-style: none;
    padding-left: 0;
}

.featurette	{
	padding-top: 40px;
}

.featurette .col-md-4	{
	border-left: 1px solid #d7d5d5;
	padding: 0px 0 0 40px;
	margin: 30px 0 20px;
}

.featurette .col-md-4 h3	{
	margin-top: 0;
}

.featurette .col-md-4 .next-reader	{
	text-align: right;
}
.featurette .col-md-4 .next-reader a	{
	font: Bold italic 20px Times New Roman;
}

.col-md-9 ul li	{
	padding-left: 15px;
	background: url("../images/marker.png") no-repeat 0 -18px;
}

.col-md-9 ol li	{
	list-style: inherit;
	margin-left: 20px;
}

.col-md-9 ol li ul li {
    list-style: none outside none;
}

.img-thumbnail {
	max-height: 235px;
}

#content .container-text .gallery img {
    border: 1px solid #808080;
    border-radius: 3px;
    margin: 2px;
    max-height: 120px;
    height: auto;
    max-width: 173px;
    width: 100%;
    padding: 5px;
}

.nextpage {
    clear: both;
    padding-top: 20px;
}

.btn-primary {
    background-color: #292929;
    border-color: #292929;
}

.information-articles {
    clear: both;
    padding: 0 10px 20px 15px;
}

.information-articles .tags {
    background: url("../images/article-tags.png") no-repeat scroll 0 0;
    height: 16px;
    padding-left: 20px;
}

blockquote p	{
	color: #999;
    display: block;
    font-size: 80%;
    line-height: 1.42857;
}


.form-question label   {
    width: 100%;
}

.recipes .col-md-12    {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    clear: both;
    height: 100%;
    margin: 10px 0;
    overflow: visible;
    padding: 15px 10px 10px 0;
    position: relative;
    width: 100%;
}

.recipes .icon-recipes .rotate {
    -webkit-transform: rotate(-6deg);
    -khtml-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);

    background: #fff;
    border-radius: 0;
}

.recipes .icon-recipes .white   {
    -webkit-transform: rotate(6deg);
    -khtml-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    border-radius: 0;
}

.recipes .arrow a   {
    background: url('../images/arrow-right.png') no-repeat;
    width: 44px;
    height: 44px;
    display: block;
}

.col-md-4.icon-recipes  {
    margin-left: -25px;
    padding-left: 0;
}

.recipes .col-md-1  {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 41%;
}

.recipes .col-md-8 {
    margin-left: 35px;
}

.fixed  {
    position: fixed;
    top: 0;
    right: 0;
}

/* footer
------------------------*/
footer  {
    background: url('../images/footer-bg.png') repeat-x scroll left top #F5F5F5;
    bottom: 0;
    color: #77715D;
    height: 100px;
    margin: -20px auto 0;
    min-width: 100%;
    padding: 18px 0;
    position: relative;
    width: 100%;
}
footer .spade-ico    {
    position: relative;
    text-align: center;
}

footer .spade-ico img   {
    position: absolute;
    top: -183px;
    z-index: 9999;
}

footer .footer-content    {
    height: 85px;
    background: #282923;
}

@media (max-width: 783px){
	.container {
		margin: 0 auto;
		padding: 0;
	}
	
	.navbar-wrapper .menu li	{
		padding: 0;
	}
	
	.palm-left	{
		display: none;
	}
	
	.palm-right	{
		display: none;
	}
	.nav>li>a {
		padding: 10px 13px;
	}
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	
	.inform-logo .logo-text {
		padding: 65px 20px 0px 20px;
	}



    .recipes .col-md-12 {
        background: none;
        border: none;
        box-shadow: none;
    }

}

@media (max-width: 267px){
	footer .spade-ico img {
		display: none;
	}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse	{
		margin-right: 0;
	}

	.navbar-toggle	{
		margin-right: 0;
	}

	#gallery	{
		display: none;
	}

	.spade-ico	{
		display: none;
	}

    .fixed  {
        position: inherit;
        top: 0;
        right: 0;
    }

    .recipes .arrow a {
        background: none;
    }
}

@media (max-width: 1200px){
	.navbar-wrapper .menu li {
		padding: 5px 12px;
	}
}

@media (max-width: 965px){
	.navbar-wrapper .menu li {
		padding: 3px;
	}
	.nav.navbar-nav.menu a {
		padding: 4px;
	}

    .fixed  {
        position: inherit;
        top: 0;
        right: 0;
    }

    .recipes .col-md-12 {
        background: none;
        border: none;
        box-shadow: none;
    }
}


@media (max-width: 990px){
    .fixed  {
        position: inherit;
        top: 0;
        right: 0;
    }

    .recipes .col-md-12 {
        background: none;
        border: none;
        box-shadow: none;
    }
}


@media (max-width: 780px){
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}

	.container .navbar-collapse .menu li	{
		display: inherit;
	}

	#gallery, .spade-ico	{
		display: none;
	}

    .fixed  {
        position: inherit;
        top: 0;
        right: 0;
    }

    .recipes .col-md-12 {
        background: none;
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 470px){

    .recipes .arrow a {
        background: none;
    }
}


.soc	{
	background: url('../images/line-footer.png') repeat-x center bottom;
	padding-bottom: 10px;
	margin-bottom: 5px;
    text-align: right;
    width: 165px;
	float: right;
}
.soc .vk, 
.rss
{ 
	display: inline-block;
	background: url('../images/soc.png') no-repeat;
}
 
.soc .vk { 
	background-position: -0px -0px;
	width: 32px;
	height: 31px;
}
.rss { 
	background-position: -0px -31px;
	width: 29px;
	height: 29px;
}

.footer-content .container .year	{
	clear: both;
	text-align: right;
}

.up	{
	background: url('../images/up.png') no-repeat;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	cursor: pointer;
	display: none;
}

.row #vk_comments	{
	width: 100% !important;
}

.counter	{
	display: none;
}